@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}
/*html e body terão configurações iguais*/
html, body {
    min-height: 100vh; /*o tamanho mínimo do html do body será de 100% da minha view port, da altura dela por isso vh.
    vw seria 100% da largura  */
    background-color: darkgray;
}

header{
    background-color: black;
    color: white; /*cor da letra*/
    text-align: center; /*fonte centralizada*/
}

header > h1 {
    padding-top: auto;
    font-variant: small-caps; /*fonte em maiusculo porém de forma mais bonita que com text-transform: uppercase*/
}

header > p {
    padding-bottom: 50px;
}

/*para que se caso eu colocar um link dentro do texto em algum outro lugar ele NÃO adote essa configuração
* nesse nosso caso não precisaria disso pois não temos link no meio do conteúdo, no entanto deixarei aqui a feito de exemplificação*/
header a, footer a {
    color: white;
    text-decoration: none; /*tirar o sublinhado do link*/
    font-weight: bolder;
}

/*hover -> quando eu passar o mouse em cima, algo acontece.
nesse caso quando eu passar o mouse em cima, o link vai ficar sublinhado*/
header a:hover, footer a:hover{
    text-decoration: underline;
}

/*isso faz com que ele ganhe 10% da altura em cima e embaixo*/
section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

/*todas as sessões da classe normal vai ter essa configuração*/
section.normal {
    background-color: white;
    color: black;
}

/*todas as sessões da classe normal vai ter essa configuração */
section.imagem {
    background-color: rgb(51, 51, 51);
    color: white;
}

section.imagem > p {
    background-color: rgba(0, 0, 0, 0.253);
    width: 400px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}